<!DOCTYPE html>
{% load leaflet_tags %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% leaflet_js %}
    {% leaflet_css %}

    <title>Saludos terricolas</title>
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
</head>
<body>
<h3>WE ARE HEROES !!!</h3>
<br>
<a href=" {% url 'primer:mencionar' %}"> Migrar datos  </a>

{% leaflet_map 'primermapa' callback="window.our_layers" %}
<style>
    #primermapa {
        width: 100%;
        height: 900px;
    }
</style>
<script type="application/javascript">
    function our_layers(map, options) {
        var datasets = new L.GeoJSON.AJAX("{% url 'primer:sectoressbd' %}", {
            onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.direccion.toString());
                //layer.bindPopup('hola carajo'feature.properties.nombre.toString());
            }
        });
        //datasets.addTo(map);
        //console.log(datasets);

        datasets.addTo(map);
    };
</script>
</body>
</html>