<!DOCTYPE html>
{% load leaflet_tags %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% leaflet_js %}
    {% leaflet_css %}

    <title>Saludos terricolas</title>
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
</head>
<body>
<h3>WE ARE HEROES !!!</h3>
<br>
<a href=" {% url 'primer:mencionar' %}"> resultados </a>
<style>
    #primermapa {
        width: 90%;
        height: 700px;
    }
</style>
<script type="application/javascript">
    function our_layers(map, options) {
        var datasets = new L.GeoJSON.AJAX("{% url 'primer:sectoressbd' %}", {
            onEachFeature: function (feature, layer) {
                layer.bindPopup("<h3> este es el primer pum "
                    + feature.properties.nombre.toString() + "</h3><br>" +
                    "<input type='text' id='conquillas'/><br>" +
                    "<input type='submit' />");
                //layer.bindPopup('hola carajo'feature.properties.nombre.toString());
            }
        });
        //datasets.addTo(map);
        //console.log(datasets);

        datasets.addTo(map);
    };
</script>
{% leaflet_map 'primermapa' callback="window.our_layers" %}
</body>
</html>